# Ignore the .vs directory 
.vs/ 
# Ignore node_modules directory 
node_modules/ 
# Ignore log files 
*.log 
# Ignore compiled files 
*.class 
*.o 
*.dll 
# Ignore temporary files 
*.tmp 
*.swp 
# Ignore IDE-specific files 
.idea/ 
*.suo 
*.user 
*.userosscache 
*.sln.docstates 
# Ignore build directories 
/build/ 
/dist/ 
# Ignore environment variable files 
.env 

# Ignore only inside Fahem directory
Fahem/bin/
Fahem/obj/
Fahem/wwwroot/

# Ignore secret files
.secret
/Fahem/.secret
